/* Style for all paragraph tags */
p {
    color: blue;        /* Text color */
    font-size: 16px;   /* Font size */
    line-height: 1.5;  /* Line height */
}

.highlight {
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.highlightLight {
    background-color: lightskyblue;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.highlightDark {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#main-header{
    font-size: 24px;
    font-weight: bold;
}