/* Style for all paragraph tags */
p {
    color: cyan; 
    font-size: 16px;
    line-height: 1.5;
}

/*Style for web page*/
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

/*Style for main header*/
#main-header{
    color: cyan;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/*Style for sections*/
.section {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 20px;
    border: 2px solid lightblue;
    border-radius: 8px;
}

/* Image styles */
.section-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

.link {
    color: lightblue;
    text-decoration: none;
}

.link:hover {
    color: lightgreen;
    text-decoration: underline;
}

/*Highlight classes*/
.highlight {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.highlightLight {
    background-color: lightseagreen;
    color: darkgrey;
    padding: 10px;
    border-radius: 5px;
}

.highlightDark {
    background-color: darkred;
    color: lightgreen;
    padding: 10px;
    border-radius: 5px;
}